* {
    padding: 0;
    margin: 0;
}


.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("assets/imgs/hero-bg.png");
}

.hero-section .tagline {
    box-sizing: border-box;
    padding: 0.7em 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    width: 350px;
    /* height: 40px; */


    background: rgb(255, 255, 255);
    /* gray/200 */

    border: 2px solid #E4E4E7;
    box-shadow: #E4E4E7;
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 60px;
    font-family: 'Plus Jakarta Sans';
    font-style: 7em;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    /* identical to box height, or 150% */


    /* gray/900 */

    color: #18181B;
}

.container {
    display: flex;
    width: 80%;
}

.hero-section .left {
    width: 100%;
    height: 70vh;
    display: flex;
    font-size: 2em;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 100px; */

}

/* .hero-section .right {
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.hero-section .left h1 {
    font-size: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.blue {
    color: #4666FF;
    text-shadow: 0em 0em 1.0em blue
}

.hero-section .left p {
    margin-top: 15px;
    font-size: 0.7em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}


.hero-section .hero-search {
    margin-top: 20px;
    align-items: center;
    /* font-size: 5em; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;

}

.hero-search .searchborder {
    /* /* border-style: solid;
    border-color: #c7c6c6;
    border-width: 1px; */
    width: 50%;
    /* font-size: 5em; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    background: #FFFFFF;
    border: 1px solid rgba(131, 147, 171, 0.4);
    box-shadow: 10px 15px 30px rgba(160, 160, 160, 0.25), 10px 8px 32px rgba(231, 215, 215, 0.25);
    border-radius: 12px;
}

.hero-section .hero-search form {
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.hero-section .hero-search input {
    padding: 12px;
    width: 190px;
    /* box-shadow: 10px 15px 30px rgba(160, 160, 160, 0.25), 10px 8px 32px rgba(231, 215, 215, 0.25); */
    border: none;
    margin-right: 5px;
}

.hero-section .hero-search button {
    background: #4666FF;
    height: 40px;
    width: 90px;
    color: white;
    border: none;
    border-radius: 8px;

}

/* .hero-section .right img {
    box-shadow: 10px 15px 30px rgba(122, 214, 235, 0.25), 10px 8px 32px rgba(148, 224, 245, 0.25); 
} */


/* Partners Section  */
.company-blue {
    color: #4666FF;
}
.video {
    display: flex;

}
.video .laptop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}
.laptop img {
    width: 80%;
}
.watch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}
.watch {
    padding: 10px;
    background-color: #4666FF;
    color: #FFFFFF;
    border-radius: 50px;
    width: 200px;
    font-size: 20px;
}

.watch span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .watch span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .watch:hover span {
    padding-right: 25px;
  }
  
  .watch:hover span:after {
    opacity: 1;
    right: 0;
  }

.partners {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

/* .partners .left {
    width: 35%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
} */

.partners .right {
    width: 100%;

}
/* Logo Slider */

.logo-slider {
	background: white;
	-webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.logo-slider::before, .logo-slider::after {
	background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 175px;
	/* position: absolute; */
	width: 200px;
	z-index: 2;
}

.logo-slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.logo-slider::before {
	left: 0;
	top: 0;
}

.logo-slider .logo-slide-track {
	-webkit-animation: logo-scroll 60s linear infinite;
	animation: logo-scroll 60s linear infinite;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(250px * 14);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
	height: 50px;
	width: 250px;
	padding: 20px;
}

.partners .right img {
    height: 90px;
}



/* Statistics Section */
.statistics .stats-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 30px;
    text-align: center;
}

.statistics .stats-container div {
    height: 200px;
    width: 27%;
    /* box-shadow: 10px 10px 10px rgba(168, 204, 212, 0.157), 10px 8px 32px rgba(196, 224, 232, 0.186); */
    border-top: 1px solid rgba(131, 147, 171, 0.4);
    border-bottom: 1px solid rgba(131, 147, 171, 0.4);
}
.statistics .stats-container .b {
    height: 200px;
    width: 27%;
    border: 1px solid rgba(131, 147, 171, 0.4);

}

.statistics .stats-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 40px;
}
.about-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 100px;
}
.about .hero-left {
    flex: 1;
    font-size: 40px;
    text-align: right;
    padding-right: 50px ;

}
.about .hero-right {
    color: gray;
    flex: 1;
    font-size: 23px;
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 100px;
    text-align: justify;
}
.services {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 10%;
    text-align: center;
}
.services .service-header {
    font-size: 40px;
}
.services .service-para {
    margin-left: 10%;
    margin-right: 10%;
    color: gray;
    padding: 2%;
    font-size: 25px;
}


@media (max-width: 1598px) {
    .hero-search .searchborder {
        width: 70%
    }
}
@media (max-width:1494px){
    .hero-section .container {
        display: flex;
        width: 90%;
    }   
}
@media (max-width:1325px){
    .hero-section .container {
        display: flex;
        width: 95%;
    }   
}
@media (max-width:1200px){
    .hero-section .container {
        display: flex;
        width: 80%;
    }   
    .hero-section .right {
        display: none;
    }

    .hero-section .left {
        width: 100%;

    }

}
/* Hero Section Responsiveness  */
@media(max-width:600px) {
    .hero-section .right {
        display: none;
    }

    .hero-section .left {
        width: 100%;
        padding: 35px;
    }

    .hero-section .left p {

        padding: 5px;
        font-size: 0.9em;
    }

    .hero-section .hero-search button {
        width: 70px;
    }

    .hero-section .hero-search input {
        width: 160px;
        font-size: 0.7em;
    }
}


/* Partners Section Responsiveness  */
@media(max-width:700px) {
    .partner {
        display: none;
        flex-direction: column;
    }
    .partners .right img {
        width: 170px;
    }

    .partners .left {
        font-size: 0.7em;
    }
}

/* Logo-slider*/
@-webkit-keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}



/* Stats Section Responsiveness  */
@media(max-width:600px) {
    .statistics .stats-container div {
        font-size: 0.9em;
        height: 100px;
        box-shadow: none;
        border: 1px solid rgba(210, 210, 210, 0.278);
    }
}
@media (max-width:800px) {
    .hero-section .container {
        display: flex;
        width: 90%;
    }  
    .hero-section .left h1{
        font-size: 2em;
    }
}
